<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidexample.delivery"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="8" />
    
   	<!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.androidexample.delivery.MainSplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.androidexample.delivery.FirstScreen" >
        </activity>
        FirstScreen
        <activity
            android:name="com.androidexample.delivery.DisplayMerchantsActivity"
            android:label="@string/title_activity_display_merchants"
            android:parentActivityName="com.androidexample.delivery.FirstScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidexample.delivery.FirstScreen" />
        </activity>
        
   		<activity
            android:name="com.androidexample.delivery.SingleMerchantActivity"
            android:label="@string/title_activity_single_merchant" >
        </activity>
    </application>

</manifest>